<div class="bg-cover" style="background-image: url(<%= asset_path 'ocean.jpg' %>);">
  <div class="flex flex-col h-screen items-center justify-center px-8 mx-auto mt-auto">
    <div class="text-white text-center">
      <div class="top-message mx-2 sm:mx-10 mt-5 sm:mt-8 text-2xl sm:text-3xl md:text-4xl leading-normal md:leading-relaxed">
        <h1 class="text-3xl sm:text-4xl"><strong>Fest-Huntは野外フェスに参加する人を支援するサービスです</strong></h1>
      </div>
      <p class="top-message mx-6 sm:mx-10 mt-8 sm:mt-16 text-sm sm:text-lg font-semibold">一覧をクリックしてお気に入りの曲を見つけましょう</p>
    </div>
    <div class="flex flex-col items-center mt-10">
      <%= link_to 'アーティスト一覧', artists_path, class: 'px-6 py-4 mb-4 text-white uppercase bg-green-500 border-2 border-transparent rounded-lg text-md hover:bg-green-400' %>
      <%= link_to 'フェス一覧', festivals_path, class: 'px-4 py-4 mb-4 text-white uppercase bg-green-500 border-2 border-transparent rounded-lg text-md hover:bg-green-400' %>
      <%= link_to 'おすすめ曲一覧', recommendations_path, class: 'px-4 py-4 text-white uppercase bg-green-500 border-2 border-transparent rounded-lg text-md hover:bg-green-400' %>
    </div>
  </div>
</div>

<<div class='mt-8 md:mt-12 mx-2 md:mx-14'>
  <div class='text-center text-xl md:text-3xl font-bold text-syuiro my-1 md:my-5'>Fest-Huntの使い方</div>
  <div class='mb-20'>
    <!-- ステップ1: アーティストorフェスの検索 -->
    <div class="flex items-stretch md:px-8 lg:px-16">
      <div class="w-1/2 lg:w-1/3">
        <%= image_tag "step1.jpg", size:"400x200" %>
      </div>
      <div class='text-left text-sm md:text-xl w-1/2 self-center'>
        <p>
          トップページでアーティストやフェスを検索します。<br>
          気になる画像をクリックすると詳細ページに遷移します。<br>
          フェスの場合：参加アーティストを見ることができます。<br>
          アーティストの場合：おすすめ曲と参加フェスが表示されます。
        </p>
      </div>
    </div>
    <!-- ステップ2: おすすめ曲の投稿 -->
    <div class="flex items-stretch md:px-8 lg:px-16">
      <div class='text-left pr-10 md:text-left text-sm md:text-xl w-1/2 self-center'>
        <p>
          アーティストの詳細ページでおすすめしたい曲がある場合は、<br>
          以下の手順で投稿してください：<br>
          1. 「おすすめ曲を投稿する」ボタンをクリックします。<br>
          2. 曲名で検索したい場合は、曲名を入力して検索を行います。<br>
          3. 曲名でヒットしない場合は、アーティスト名を入力して検索してください。
        </p>
      </div>
      <div class="w-1/2 lg:w-1/3">
        <%= image_tag "step2.jpg", size:"400x200" %>
      </div>
    </div>
    <!-- ステップ3: お気に入りの曲をブックマーク -->
    <div class="flex items-stretch md:px-8 lg:px-16">
      <div class="w-1/2 lg:w-1/3">
        <%= image_tag "step3.jpg", size:"400x200" %>
      </div>
      <div class='text-left text-sm md:text-xl w-1/2 self-center'>
        <p>
          お気に入りの曲を見つけた場合、ブックマークして<br>
          オリジナルのプレイリストを作成することができます。<br>
          ユーザー登録するとヘッダーにお気に入りリストが出現します。
        </p>
      </div>
    </div>
    <div class='font-bold text-center text-lg md:text-2xl mt-10 mb-5'>リクエスト募集中</div>
  </div>
</div>
