<div class="container mx-auto mt-24">
  <%= link_to "アーティストを追加", search_admin_artists_path, class: "mt-10 p-5 bg-red-100" %>
</div>
<% @artists.each do |artist| %>
  <div class="m-10 outline break-words p-5 rounded-md">
    <%= artist.spotify_id %><br>
    <%= artist.artist_name %><br>
    <%= image_tag(artist.artist_image, style: "width: 150px; height: 187px; display: inline-block;") %>
    <%= link_to "編集", edit_admin_artist_path(artist), class: "px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600" %>
    <%= link_to admin_artist_path(artist), method: :get, params: {id: artist.id}, remote: true, class: "flex items-center" do %>
      <button class="bg-gray-500 text-white py-2 px-4 mx-2">
        詳細へ
      </button>
    <% end %>
  </div>
<% end %>