<%=form_with url:  search_admin_artists_path ,method: :get do |f|%>
  <div class="text-center my-3">
    <div class="my-2 font-weight-bold">検索</div>
    <%= f.search_field :search, value: params[:search], placeholder: "検索: アーティスト名", class: "w-full p-4 mx-auto text-sm border-sky-400 rounded-lg bg-slate-50 border-2", type: "text" %>
  </div>
<% end %>

<h1>検索結果</h1>
<div class="flex justify-center flex-wrap">
  <% if @artists.present? %>
    <% @artists.each do |artist|%>
      <div class="m-10 outline break-words p-5 rounded-md">
        <%= artist.id %><br>
        <%= artist.name %><br>
        <% if artist.images.any? %>
          <%= image_tag(artist.images.first["url"] ,style: "width: 150px; height: 187px; display: inline-block;") %>
        <% else %>
          <%= image_tag("ogp.png" ,style: "width: 150px; height: 187px; display: inline-block;") %>
        <% end %><br>
        <div class="mt-5">
          <% if Artist.exists?(spotify_id: artist.id) %>
            <span class="rounded border mr-2 p-1 font-medium text-gray-600 mt-auto sm:m-auto md:mx-auto lg:mx-0 cursor-not-allowed">登録済</span>
            <% else %>
            <%= form_with model: @artist, url: admin_artists_path do |f| %>
                <%= f.hidden_field :spotify_id, value: artist.id %>
                <%= f.hidden_field :artist_name, value: artist.name %>
                <%= f.hidden_field :artist_image, value: artist&.images&.first&.[]("url") || "no-image.png" %>
                <%= f.button "登録", class: "rounded border border-gray-600 bg-gray-600 mr-2 p-1 font-medium text-white hover:bg-transparent hover:text-gray-900 focus:outline-none focus:ring active:text-blue-500 mt-auto sm:m-auto md:mx-auto lg:mx-0", data: { disable_with: "送信中..." } %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

