<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% @festivals.each do |festival| %>
    <div class="card p-4 bg-white shadow-lg rounded-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out">
      <%= link_to admin_festival_path(festival) do %>
        <%= image_tag('ogp.png', class: 'rounded-t-lg mb-4') %>
      <% end %>
      <h3 class="text-2xl font-bold text-center mb-4"><%= festival.name %></h3>
      <p class="text-center mb-2"><span class="font-bold">開催場所:</span> <%= festival.location %></p>
      <p class="text-center mb-2"><span class="font-bold">都道府県:</span> <%= festival.prefecture %></p>
      <p class="text-center mb-4"><span class="font-bold">地域:</span> <%= festival.region %></p>

      <div class="flex justify-center space-x-2">
        <%= link_to "編集", edit_admin_festival_path(festival), class: "px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600" %>
        <%= link_to "削除", admin_festival_path(festival), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600" %>
      </div>
    </div>
  <% end %>
</div>




