<div class='container px-5 px-sm-0'>
  <%= flash[:notice] %>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <h2>Group Detail</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>画像</th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>メンバー</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= image_tag 'step1.jpg', size: '200x200', class: 'mx-auto'  %>
            </td>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
            <td><% @group.users.each do |user| %>
                <li style="list-style: none;"><%= user.name %></li>
                <% end %>
            </td>
             <td>
              <% if @group.is_owned_by?(current_user) %>
                <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
                <% elsif @group.includesUser?(current_user) %>
                <%= button_to "Leave this group", group_group_users_path(@group, user_id: current_user.id), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
                <% else %>
                <%= link_to 'Join this group', group_group_users_path(group_id: @group.id), data: { "turbo-method": :post }, class: "btn btn-sm btn-success" %>
            <% end %>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

