<div class="w-full min-h-screen bg-gray-50 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
  <div class="w-full sm:max-w-md p-5 mx-auto">
    <h2 class="mb-12 text-center text-5xl font-extrabold">Welcome.</h2>
      <%= form_with model: @user, local: true do |f| %>
        <div class="form-control">
          <%= f.label :name, class:"block mb-1" %>
          <%= f.text_field :name, class:"py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" %>
        </div>
        <div class="form-control">
          <%= f.label :email, class:"block mb-1" %>
          <%= f.text_field :email, class:"py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" %>
        </div>
        <div class="form-control">
          <%= f.label :password, class:"block mb-1" %>
          <%= f.password_field :password, class:"py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" %>
        </div>
        <div class="form-control">
          <%= f.label :password_confirmation, class:"block mb-1" %>
          <%= f.password_field :password_confirmation, class:"py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" %>
        </div>
        <div class="form-control mt-6">
          <%= f.submit 'Sign up', class:"w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition" %>
        </div>
        <div class="mt-6 text-center">
          <a href="#" class="underline">Sign up for an account</a>
        </div>
      <% end %>
  </div>
</div>
