<div class="mt-24">
  <section class="mb-16">
    <div class="container mx-auto">
      <div class="text-center mb-8">
        <h1 class="lg:text-3xl text-2xl text-center text-blackpanther font-udpmincho mb-4">おすすめ曲を検索する</h1>
        <p class="font-mplus sm:text-base text-sm text-blackpanther">曲名orアーティスト名で検索</p>
      </div>
      <div class="mx-auto sm:max-w-md max-w-sm">
      <%= form_with url:new_artist_answer_path, method: :get, html: { data: { turbo_frame: "song_search" } } do |form| %>
          <div class="flex justify-center border-b border-teal-500 py-2">
            <%= form.text_field :search, placeholder: "曲名で検索", class: "appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"  %>
            <%= form.submit "検索", class: "rounded px-5 py-2.5 overflow-hidden group bg-green-500 hover:bg-gradient-to-r hover:from-green-500 hover:to-green-400 text-white hover:ring-2 hover:ring-offset-2 hover:ring-green-400 transition-all ease-out duration-300" %>
          </div>
      <% end %>
      </div>
    </div>
  </section>
<div>

#検索して曲を選択すると、その曲を選択したアーティストのおすすめ曲として登録できる
<div class="w-11/12 md:w-6/10 lg:w-1/2 mx-auto">
  <%= turbo_frame_tag "song_search" do %>
    <% if @songs %>
      <% @songs.each do |song| %>
      <div class="my-4 flex">
        <iframe class="mb-2" style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= song.id %>?utm_source=generator" width="78%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          <%= render 'answer_menus', {artist: @artist, my_answer: @my_answer, song: song} %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>

