<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= render 'search_form', q: @q, url: festivals_path %>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% @festivals.each do |festival| %>
    <div class="card p-4 bg-white shadow-lg rounded-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out">
      <%= link_to festival_path(festival) do %>
        <%= image_tag('ogp.png', class: 'rounded-t-lg mb-4') %>
      <% end %>
      <h3 class="text-2xl font-bold text-center mb-4"><%= festival.name %></h3>
      <p class="text-center mb-2"><span class="font-bold">開催場所:</span> <%= festival.location %></p>
      <p class="text-center mb-2"><span class="font-bold">都道府県:</span> <%= festival.prefecture %></p>
      <p class="text-center mb-4"><span class="font-bold">地域:</span> <%= festival.region %></p>
    </div>
  <% end %>
</div>
<div class="flex justify-start md:justify-center btn-group w-screen m-2"><%= paginate @festivals %></div>