<div class="container py-6">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= render 'search_form', q: @q, url: festivals_path %>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <% @festivals.each do |festival| %>
    <% if festival.id == 10 %>
      <div class="card p-4 bg-white shadow-lg rounded-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out">
        <%= link_to image_tag('anthony-delanoix-hzgs56Ze49s-unsplash.jpg', class: 'rounded-t-lg mb-4'), festival_path(festival) %>
        <h3 class="text-2xl font-bold text-center mb-4"><%= festival.name %></h3>
        <p class="text-gray-700 text-center"><%= festival.location %></p>
        <div class="flex justify-center mt-6">
          <%= link_to "詳細を見る", festival_path(festival), class: "btn btn-success" %>
        </div>
      </div>
    <% elsif festival.id != 10 %>
      <div style="display: none;"></div>
    <% end %>
  <% end %>
  <div class="card p-4 bg-white shadow-lg rounded-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out">
    <h3 class="text-2xl font-bold text-center mb-4">準備中</h3>
    <p class="text-gray-700 text-center">その他フェスティバルは準備中です。</p>
    <div class="flex justify-center mt-6">
      <!-- 他のフェスティバルの詳細ページへのリンクなどを追加する場合はここに記述します -->
    </div>
  </div>
</div>
