<div class="w-full max-w-xs mx-auto">
  <h1 class="text-center mb-3 text-lg font-mono font-bold"><%= t('defaults.admin_login') %></h1>
  <div class="bg-green-200 shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="card-body login-card-body">
      <%= form_with url: admin_login_path, local: true do |f| %>
        <div class="mb-4">
          <%= f.label :email ,class:"block text-green-900 text-sm font-bold mb-2" %>
          <%= f.email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder-green-500', placeholder: "***@example.com" %>
        </div>
        <div class="mb-6">
          <%= f.label :password ,class:"block text-green-900 text-sm font-bold mb-2" %>
          <%= f.password_field :password, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline placeholder-green-500', placeholder: "******" %>
        </div>
        <div class="flex items-center justify-between">
          <%= f.submit t('defaults.login'), class:"bg-green-700 text-white hover:bg-green-800 hover:text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
